/**
* @name Larger Compact Emotes
* @author Tharpadarp
* @version 1.3
* @description Makes compact discord emotes the size of cozy emotes
*/
/*Compact Emotes Are Larger*/
.contents_f9f2ca [class="emoji"] ,
[class="emoji jumboable"] {
  font-size: 34px;                              /*This is what makes emotes larger*/
  bottom: 12px                              /*Makes messages with emotes larger*/
}
.threadMessageAccessory_f9f2ca [class="emoji"] {     /*Thread containers no longer have oversized emotes*/
  font-size: 16px !important;
}
.contents_f9f2ca::before {      /*Hide weird extension of Thread*/
  display: none;
}

[class="repliedMessage_f9f2ca latin24CompactTimeStamp_f9f2ca"]:has(+ .contents_f9f2ca [class="emoji"] , + .contents_f9f2ca [class="emoji jumboable"]) .repliedMessageClickableSpine_f9f2ca  {      /*Make replied messages with emotes have a longer line*/
  height: 34px !important;
}
.contents_f9f2ca [class="emoji"] {          /*Moves emotes to be in line*/
  transform: translate(0px, 12px);
}
.contents_f9f2ca:has([class="emoji jumboable"]) {         /*Moves emotes to be in line*/
  transform: translate(0px, 12px);
}
